*
{
  margin: 0px auto;
  padding: 0px;
  font-family: 'Bebas Neue',sans-serif;
  font-weight: 200;
  font-variant:
}

@font-face {
  font-family: BebasNeuePro-Light;
  src: local(../means/BebasNeuePro-Light.ttf);
  font-weight: normal;
}

body
{
  background-image:url("../means/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color:transparent;
  display: block;
}

body header{
  height: 25vh;

}
body header .ContHero
{
  margin-top: 10vh;
  border-radius: 200px;
  height: 20em;
  width: 20em;
}

.ContHero picture{
  height: inherit;
  width: inherit;
}
.ContHero picture img
{
  border-radius:200px;
  height: inherit;
  width:inherit;
}

body section{
  height: 50vh;
}
header h1
{
  text-align: center;
}
body section .ContItem
{
  width: 60%;
}
.ContItem .item
{
  display: flex;
}
.ContItem .item a
{
  text-align: center;
  align-items: center;

}

body footer
{
  height: 10vh;
  text-align: center;
  padding-top: 2em;
}
body footer .date
{
  color: white;
  font-size: 0.8em;
  font-family: Bebas Neue Pro-Ligth;
}

.material-icons.md-18 { font-size: 0.8em; }
